$left-mail-list-width: 365px;
$left-mail-list-z-index: 500;
.left-mail-list {
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
  width: $left-mail-list-width;
  top: 0;
  height: calc(100vh - 60px - 50px);
  box-shadow: 0 1px 3px #aaa;
  z-index: $left-mail-list-z-index;

  @include prefixer(transition, all ease .3s);
  @include prefixer(transform, translateX(0));
  @include prefixer(transform-origin, left top);

  &.hide {
    @include prefixer(transform, translateX(-$left-mail-list-width));
  }

  .hide-btn {
    display: block;
    position: absolute;
    margin-left: $left-mail-list-width;
    margin-top: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
    opacity: 0.5;
    z-index: $left-mail-list-z-index+ 100;
    @include prefixer(transition, background-color ease .2s);

    &::before {
      @extend .iconfont;
      content: $icon-back;
      color: $white;
      font-size: 20px;
    }
    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }
  .list-header {
    width: 100%;
    box-sizing: border-box;
    height: 61px;
    padding-top: 10px;
    display: block;
    position: relative;
    line-height: 40px;
    text-align: center;
    background-color: #fefefe;
    border-bottom: 1px solid #ddd;
    color: $color_cancel;
    @extend .no-select;
    &::before{
      content: "分类过滤";
      display: block;

      position: absolute;
      float: left;
    }

  }

  &.hide {
    .hide-btn {
      margin-left: $left-mail-list-width;
      &::before {
        content: $icon-more;
      }
    }
  }

  &.show:hover {
    .hide-btn {
      opacity: 1;
    }
  }

}

.left-mail-list .mails-wrapper {
  width: inherit;
  height: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 60px - 50px - 41px);
  .mail {
    width: inherit;
    height: 80px;
    border-bottom: 1px solid #eee;



    .mail-from-head {
      display: inline-block;
      vertical-align: top;
      //float: left;
      width: 70px;
      height: inherit;
      line-height: 80px;
      margin-left: -45px;
      padding-top: 20px;
      padding-left: 25px;
      box-sizing: border-box;
      .user-head-icon {
        display: block;
        position: relative;
      }
    }

    .mail-content{
      display: inline-block;
      width: $left-mail-list-width - 70;
      height: inherit;
      vertical-align: top;
      //float:left;
      .mail-from{
        display: block;
        height: 15px;
        margin-top: 5px;
        width: inherit;
        box-sizing: border-box;
        padding-left: 10px;
        font-size: 14px;
        color: $color_link_blue;
        font-weight: bold;
        line-height: 15px;
        .txt {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }

      }
      .mail-tags{
        width: $left-mail-list-width - 70 - 60;
        height: 20px;
        line-height: 20px;
        padding-left: 10px;
        font-size: 13px;
        box-sizing: border-box;
        overflow: hidden;
        //font-weight: bold;
        vertical-align: top;
        display: inline-block;
        float: left;
        position: relative;
        color: $font-color;
        &::before{
          content: "标签：";
          color: $color_cancel;
        }
        .tag{
          display: inline-block;
          color: $white;
          height: 16px;
          line-height: 16px;
          margin-top: -2px;
          background-color: $hover-color;
          padding: 2px 3px;
          border-radius: 4px;
          margin-right:3px;
        }
      }
      .mail-title{
        width: $left-mail-list-width - 70 - 60;
        height: 20px;
        line-height: 24px;
        padding-left: 10px;
        font-size: 14px;
        box-sizing: border-box;
        overflow: hidden;
        //font-weight: bold;
        vertical-align: top;
        display: inline-block;
        float: left;
        position: relative;
        color: $font-color;
      }
      .mail-details {
        display: inline-block;
        width: 40px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: $color_cancel;
        vertical-align: top;
        position: relative;
        @include prefixer(user-select,none);
        cursor: default;
      }
      .mail-html {
        display: block;
        box-sizing: border-box;
        padding: 0 10px;
        width: inherit;
        height: 20px;
        font-size: 14px;
        line-height: 1.32em;
        color: $color_cancel;
        overflow: hidden;
      }

    }
    &.load-more{
      line-height: 80px;
      text-align: center;
      color: $color_cancel;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      background-color: $color_bg_light_gray;
      & .user-head-icon {
        border-color: #66afe9;
        box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px 2px rgba(102,175,233,.7);
      }
    }
  }

}

.mail{
  overflow: hidden !important;
  &::before{
    overflow: hidden;
    display: block;
    width: 70px;
    height: 40px;
    line-height: 65px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    float: left;
    position: relative;
    margin-left: -30px;
    margin-top: -20px;
    background-size: contain;
    background-color: #999;
    @include prefixer(transform, rotate(-45deg) translate(-3px,5px) );
  }
}



.dis{
  .mail.status-received{
    &::before{
      content:"待分发";
      background-color: $color_carnation_approx;
    }
    background-color: rgba(255, 196, 79, 0.1);
    &:hover {
      background-color: rgba(255, 196, 79, 0.2);
    }
  }
  .mail.status-assigned{
    &::before{
      content:"已分发";
    }
    background-color: rgba(5, 165, 114, 0.1);
  }
  .mail.status-handled{
    &::before{
      content:"待审核";
    }
    background-color: #fff;
  }
  .mail.status-finished{
    &::before{
      content:"已完成";
      background-color: $theme-color;
    }

    background-color: rgba(5, 165, 114, 0.1);
  }
  .mail.status-rejected{
    &::before{
      content:"未通过";
      background-color: #ff7a11;
    }
    background-color: #dedede;
  }
  .mail.status-failed{
    &::before{
      content:"失败";
      background-color: #cf0309;
    }
    background-color: #dedede;
  }
}

/*处理人员*/
.con{
  .mail.status-received{
    &::before{
      content:"待分发";
    }
    background-color: rgba(184, 255, 243, 0.1);
  }
  .mail.status-assigned{
    &::before{
      content:"待处理";
      background-color: $color_carnation_approx;
    }
    background-color: rgba(255, 196, 79, 0.1);
    &:hover {
      background-color:  rgba(255, 196, 79, 0.2);
    }
  }
  .mail.status-handled{
    &::before{
      content:"待审核";
    }
    background-color: #fff;
  }
  .mail.status-finished{
    &::before{
      content:"已完成";
      background-color: $theme-color;
    }
    background-color: rgba(5, 165, 114, 0.1);
  }
  .mail.status-rejected{
    &::before{
      content:"未通过";
      background-color: #ff7a11;
    }
    background-color: #dedede;
  }
  .mail.status-failed{
    &::before{
      content:"失败";
      background-color: #cf0309;
    }
    background-color: #dedede;
  }
}


.aud{
  .mail.status-received{
    &::before{
      content:"待分发";
    }
    background-color: rgba(184, 255, 243, 0.15);
  }
  .mail.status-assigned{
    &::before{
      content:"已分发";
    }
    background-color: rgba(5, 165, 114, 0.1);
  }
  .mail.status-handled{
    &::before{
      content:"待审核";
    }
    background-color: #fff;
  }
  .mail.status-finished{
    &::before{
      content:"已完成";
      background-color: $theme-color;
    }
    background-color: rgba(5, 165, 114, 0.1);
  }
  .mail.status-rejected{
    &::before{
      content:"拒绝";
      background-color: #ff7a11;
    }
    background-color: #dedede;
  }
  .mail.status-failed{
    &::before{
      content:"失败";
      background-color: #cf0309;
    }
    background-color: #fefefe;
  }
}
.adm{
  .mail.status-received{
    &::before{
      content:"待分发";
    }
    background-color: rgba(184, 255, 243, 0.15);
  }
  .mail.status-assigned{
    &::before{
      content:"已分发";
    }
    background-color: rgba(5, 165, 114, 0.1);
  }
  .mail.status-handled{
    &::before{
      content:"待审核";
    }
    background-color: #fff;
  }
  .mail.status-finished{
    &::before{
      content:"已完成";
      background-color: $theme-color;
    }
    background-color: rgba(5, 165, 114, 0.1);
  }
  .mail.status-rejected{
    &::before{
      content:"未通过";
      background-color: #ff7a11;
    }
    background-color: #dedede;
  }
  .mail.status-failed{
    &::before{
      content:"失败";
      background-color: #cf0309;
    }
    background-color: #fefefe;
  }
}
