.right-detail-section{
  display: block;
  position: absolute;
  width: calc(100% - #{$left-mail-list-width} - 60px );
  right: 0;
  bottom: 0;
  height: calc(100vh - 110px);
  overflow: hidden;
  .mail-detail {
    display: block;
    position: relative;
    width: 100%;
    height: inherit;
    text-align: center;
    .top-row {

    }
    .row {
      display: block;
      margin: auto;
      text-align: left;
      min-height: 60px;
      width: calc(100% - 20px);
      box-sizing: border-box;
      padding: 10px 0;
      line-height: 40px;
      border-bottom: 1px solid #ddd;

      .btn-wrapper {
        .btn {
          font-size: 16px;
          text-indent: 5px;
          letter-spacing: 5px;
          margin: auto 8px;
        }
      }
      .txt.title-left {
        display: inline-block;
        float: left;
        vertical-align: middle;
        width: 80px;
        margin-left: 10px;
        height: 35px;
        line-height: 40px;

      }
      .input {
        outline: none;
        float: left;
        display: block;
        height: 40px;
        line-height: 40px;
        width: auto;
        min-width: 150px;
        max-width: calc(100% - 150px);
        box-sizing: border-box;
        padding: 0 10px;
        border-radius: 4px;
        border: none;
        background-color: #f5f5f5;
        color: $font-color;
        @include prefixer(transition, width ease-out .3s);
        &.input-mail-to:hover {
          border-radius: 4px 0 0 4px;
        }

      }
      .input + .icon-remove {
        float: left;
        width: 30px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #f5f5f5;
        border-left: 1px solid #eee;
        margin-right: 15px;
        border-radius: 0 4px 4px 0;
        display: none;
        opacity: 0;
        cursor: pointer;
        @include prefixer(transition, all ease .3s);

        &::before {
          content: $icon-delete;
          @extend .iconfont;
          color: $red;

        }
      }
      .input:hover + .icon-remove,
      .icon-remove:hover {
        display: block;
        opacity: 1;
        background-color: #eee;
      }
      .icon-remove:hover {
        background-color: #ddd;
      }

      &.editor-area {
        border: none;
        width: inherit;
        height: calc(100vh - 320px);

        .right-textarea {
          width: calc(100% - 200px);
          margin-left: 120px;
          margin-top: 20px;
          height: auto;
          min-height: 20px;
          max-height: calc(100vh - 400px);
          border: 1px solid transparent;
          border-color: #66afe9;
          box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px 2px rgba(102,175,233,.7);
          padding: 5px;
          .mail-html {
            width: 100%;
            height: auto;
            max-height: inherit;
            box-sizing: border-box;
            padding: 0 25px;
            overflow: auto;
            & > span {
              display: block;
            }
          }
        }

        .manu-col {
          display: block;
          width: 500px;
        }

      }
    }
    &.dispatch-mail-detail {
      .row {
        min-height: 40px;
        &.editor-area {
          border: none;
          width: inherit;
          height: calc(100vh - 320px);

          .right-textarea {
            width: calc(100% - 200px);
            margin-left: 120px;
            margin-top: 20px;
            height: auto;
            min-height: 20px;
            max-height: calc(100vh - 410px);
            border: 1px solid transparent;
            border-color: #66afe9;
            box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px 2px rgba(102,175,233,.7);
            padding: 5px;
            .mail-html {
              width: 100%;
              height: auto;
              max-height: inherit;
              box-sizing: border-box;
              padding: 0 25px;
              overflow: auto;
              & > span {
                display: block;
              }
            }
          }

          .manu-col {
            display: block;
            width: 500px;
          }

        }
      }
    }
  }
  &.full-width {
    width: calc(100% - 60px );
  }
  &.full-height {

  }
}

.mail-detail {
  .tap-wrapper {
    display: inline-block;
    width: calc(100% - 120px);
    height: auto;

    .add{

    }
  }

  .receiver-wrapper {
    display: block;
    width: calc(100% - 120px);
    height: auto;

    .mail-receiver{
      display: inline-block;
      vertical-align: middle;
      min-width: 60px;
      margin: 0 10px;
      height: 30px;
      line-height: 35px;
      box-sizing: border-box;
      border-radius: 15px;
      padding: 0;
      font-size: 0;
      background-color: $hover-color;
      color: $white;
      .icon-add-receiver {
        display: inline-block;
        z-index: 1200;
        position: relative;
        vertical-align: top;
        width: 30px;
        margin: 0;
        border-radius: 30px 0 0 30px;
        height: inherit;
        font-size: 14px;
        background-color: $hover-color;
        visibility: hidden;
        text-align: center;
        line-height: 30px;
        box-shadow: 0 0 4px 1px rgba(31,178,138, .7), 0 0 3px rgba(255,255,255,.3);
        @include prefixer(transition,all ease-out .2s);

        &:hover {
          box-shadow: 0 0 4px 3px rgba(31,178,138, .6), 0 0 3px rgba(255,255,255,.3);
        }
        &::before{
          content: $icon-add;
          @extend .iconfont;
          color: $white;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .txt {
        display: inline-block;
        position: relative;
        z-index: 1100;
        vertical-align: top;
        height: inherit;
        margin: 0;
        padding: 0 30px 0 0;
        border-radius: 0 30px 30px 0;
        width: auto;
        min-width: 40px;
        opacity: 1;
        outline: none;
        line-height: 30px;
        font-size: 14px;
        background-color: $hover-color;

        @include prefixer(transition,all ease-out .2s);
      }
      &.add{
        min-width: 30px;
        .icon-add-receiver {
          visibility: visible;
          border-radius: 30px;
          z-index: 1200;

        }
        .txt{
          margin-left: -10px;
          width: 15px;
          min-width: 15px;
          opacity: 1;
          z-index: 1110;
        }

      }

    }
  }
}
