.right-detail-section {
  display: block;
  position: absolute;
  width: calc(100% - #{$left-mail-list-width} - 60px);
  right: 0;
  bottom: 0;
  height: calc(100vh - 110px);
  overflow: hidden;
  .mail-detail {
    display: block;
    position: relative;
    width: 100%;
    height: inherit;
    text-align: center;
    .top-row {

    }
    .row {
      display: block;
      margin: auto;
      text-align: left;
      min-height: 50px;
      padding: 5px;
      box-sizing: border-box;
      width: calc(100% - 20px);
      box-sizing: border-box;
      //line-height: 40px;
      border-bottom: 1px solid #ddd;

      .btn-wrapper {
        .btn {
          font-size: 16px;
          text-indent: 5px;
          letter-spacing: 5px;
          margin: auto 8px;
        }
      }
      .txt{
        line-height: 40px;
      }
      .txt.title-left {
        display: inline-block;
        float: left;
        vertical-align: middle;
        width: 80px;
        margin-left: 10px;
        height: 35px;
        line-height: 40px;

      }
      .input {
        outline: none;
        float: left;
        display: block;
        height: 40px;
        line-height: 40px;
        width: auto;
        min-width: 150px;
        max-width: calc(100% - 150px);
        box-sizing: border-box;
        padding: 0 10px;
        border-radius: 4px;
        border: none;
        background-color: #f5f5f5;
        color: $font-color;
        @include prefixer(transition, width ease-out .3s);
        &.input-mail-to:hover {
          border-radius: 4px 0 0 4px;
        }

      }
      .input + .icon-remove {
        float: left;
        width: 30px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #f5f5f5;
        border-left: 1px solid #eee;
        margin-right: 15px;
        border-radius: 0 4px 4px 0;
        display: none;
        opacity: 0;
        cursor: pointer;
        @include prefixer(transition, all ease .3s);

        &::before {
          content: $icon-delete;
          @extend .iconfont;
          color: $red;

        }
      }
      .input:hover + .icon-remove,
      .icon-remove:hover {
        display: block;
        opacity: 1;
        background-color: #eee;
      }
      .icon-remove:hover {
        background-color: #ddd;
      }

      &.editor-area {
        border: none;
        width: inherit;
        height: calc(100vh - 320px);

        .right-textarea {
          width: calc(100% - 200px);
          margin-left: 120px;
          margin-top: 20px;
          height: auto;
          min-height: 20px;
          max-height: calc(100vh - 320px);
          border: 1px solid transparent;
          border-color: #66afe9;
          box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px 2px rgba(102, 175, 233, .7);
          padding: 5px;
          .mail-html {
            width: 100%;
            height: auto;
            max-height: inherit;
            box-sizing: border-box;
            padding: 0 25px;
            overflow: auto;
            & > span {
              display: block;
            }
          }
        }

        .manu-col {
          display: block;
          width: 500px;
          //height: ;
        }


      }
    }
    &.dispatch-mail-detail {
      .row {
        min-height: 35px;
        &.f-row{
          padding: 5px;
          &>*{
            display: inline-block;
            float: none;
          }
        }
        &.editor-area {
          border: none;
          width: inherit;
          height: calc(100vh - 320px);

          .right-textarea {
            width: calc(100% - 200px);
            margin-left: 120px;
            margin-top: 20px;
            height: auto;
            min-height: 20px;
            max-height: calc(100vh - 410px);
            border: 1px solid transparent;
            border-color: #66afe9;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px 2px rgba(102, 175, 233, .7);
            padding: 5px;
            .mail-html {
              width: 100%;
              height: auto;
              max-height: inherit;
              box-sizing: border-box;
              padding: 0 25px;
              overflow: auto;
              & > span {
                display: block;
              }
            }
          }

          .manu-col {
            display: block;
            width: 500px;
          }

        }
      }
    }
    &.consume-mail-detail{
      height: calc(100vh - 120px);
      overflow-y: auto;
    }
  }
  &.full-width {
    width: calc(100% - 60px);
  }
  &.full-height {

  }
}


.tag-wrapper {
  display: block;
  margin-bottom: 5px;
  width: auto;
  height: auto;

}
.receiver-wrapper {
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 5px;
}
.mail-detail {
  .editor-area {
    border: none;
    height: auto;

    .right-input-wrapper {
      overflow-x: hidden;
      overflow-y: auto;

      .mail-content,
      .marked-view{
        outline: none;
        float: left;
        display: block;
        min-height: 40px;
        line-height: 1.7em;
        letter-spacing: .13em;
        width: calc(50% - 15px);
        overflow-x: hidden;
        overflow-y: auto;
        margin-left: 5px;
        height: calc(100vh - 320px);
        box-sizing: border-box;
        padding: 6px 10px;
        border: none;
        color: $font-color;
        &:hover {
          overflow-y: auto;
        }
      }
      .mail-content {
        //border-right: 1px solid $font-color;
        background-color: #f7f7f7;
        resize: none;
      }
    }

  }
  .my-input {
    display: inline-block;
    box-sizing: border-box;
    line-height: 25px;
    min-width: 80px;
    min-height: 35px;
    width: auto;
    height: auto;
    //resize: horizontal;
  }
  .tag{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 20px;
    box-sizing: border-box;
    background-color: $hover-color;
    color: $white;
    padding: 5px 10px;
    margin: 0 5px;
  }
  .tip-txt {
    color: $color_carnation_approx;
  }
  em.user-name{
    font-style: normal;
    color: $theme-color;
  }
  .link {
    color: $color_link_blue;
    line-height: 40px;
  }
}

#consume-wrapper {
  overflow: hidden;
  .mail-html-wrapper {
    margin: 20px;
    width: calc(100% - 40px);
    border: 1px solid #66afe9;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px 2px rgba(102, 175, 233, .7);

    .mail-html{

    }
  }
}
.ue-area{
  height: 0;
  min-height: 0;
}
.full-editor{

  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,.5);

  @include prefixer(transition, all ease .5s);
  //transition: transform ease-out 2s, top ease 3s 2s, opacify ease 3s 2s;
  //-webkit-transition: -webkit-transform ease-out 2s, top ease 3s 2s, opacify ease 3s 2s;

  .ue-window {
    display: block;
    position: fixed;
    width: 80vw;
    height: 500px;
    top: calc(48vh - 250px);
    box-sizing: content-box;
    padding: 10px;
    left: 10vw;
    border-radius: 2px;
    box-shadow: 0 0 0 20px rgba(0,0,0,.4);
    background:#fff;



    .ue-wrapper{
      height: 450px;
      overflow-y: auto;
      text-align: center;
    }
    //box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px 2px rgba(102, 175, 233, .7);
    .ue-wrapper+.row{
      padding-top: 15px;
      height: auto;
      border-bottom: none;
      text-align: right;
    }
  }
  &.hide{
    opacity: 0;
    @include prefixer(transform, translateY(-105vh));
  }
  &.show{
    opacity: 1;
    @include prefixer(transform, translateY(0vh));
  }
}
