$message-width: 360px;

#your-messages {
  display: block;
  width: $message-width;
  height: auto;
  max-height: calc(100vh - 150px);
  position: fixed;
  opacity: 0;
  top: 60px;
  right: 0;
  background-color: $white;
  filter: drop-shadow(0px 0px 10px #aaa);
  -webkit-filter: drop-shadow(0px 0px 6px #ccc);
  border: 1px solid $theme-color;

  //box-shadow: 0 0 7px #ccc;
  z-index: 800;
  overflow: hidden;
  @include prefixer(transition, all ease-out .2s);
  @include prefixer(transform, scale(1,0));
  @include prefixer(transform-origin, top);
  &.show {
    opacity: 1;
    @include prefixer(transform, scale(1,1));
  }

  &:focus{
    outline: none;
  }

  .scroll-box {
    width: inherit;
    height: inherit;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    overflow-x: hidden;
    .list-wrapper {
      width: inherit;
      height: auto;

      .msg {
        width: inherit;
        height: auto;
        min-height: 40px;
        box-sizing: border-box;
        padding: 10px 20px;
        border-bottom: 1px solid $theme-color;
        cursor: pointer;
        @include prefixer(transition, all ease .4s);
        &.remove {
          opacity: 0;
          @include prefixer(transform, translateX($message-width));
        }
        &::before {
          display: block;
          position: relative;
          float: left;
          background-color:$theme-color;
          color: #fff;
          width: 32px;
          height: 32px;
          line-height: 35px;
          text-align: center;
          border-radius: 20px;
          margin-top: 5px;
        }
        &.msg-unread {
          &::before {
            content: "未";
          }
          //background-color: rgba(255, 196, 79, 0.1);
          background-color: $white;
          &:hover {
            background-color: #f5f5f5;
            //background-color: rgba(255, 196, 79, 0.2);
          }
        }
        &.msg-read {
          &::before {
            content: "已";
          }
          background-color: #fff;
          &:hover {
            background-color: #f9f9f9;
          }
        }

        &.load-more {
          width: inherit;
          height: 40px;
          min-height: 40px;
          text-align: center;
          color: $white;
          background-color: $theme-color;
          cursor: pointer;
          &:hover {
            background-color: $hover-color;
          }
        }
        .title {
          width: $message-width - 32px;
          min-height: 20px;
          box-sizing: border-box;
          padding-left: 50px;
          padding-right: 10px;
          line-height: 20px;
          font-size: 15px;
          &::before{
            content:"标题：";
            color: $hover-color;
          }
        }

        .content {
          width: $message-width - 32px;
          line-height: 1.5em;
          box-sizing: border-box;
          padding-left: 50px;
          padding-right: 10px;
          font-size: 15px;
          &::before{
            content:"内容：";
            color: $hover-color;
          }
        }
      }
    }
  }
}

