.index-page .tab-page {
  display: none;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 110px);
  padding-left: $leftNavWidth;
  top: 110px;
  left: 0;
  overflow: hidden;

  &.active {
    display: block;
  }
}