body
    .header-panel.shadow-z-2
        .container-fluid
            .row
                .col-xs-3
                    h1 CNZZ&#x8FD0;&#x8425;&#x7CFB;&#x7EDF;
    
    .container-fluid
        .row
            nav.col-xs-2.menu
                ul.left-menu
                    li.menu-head &#x8D44;&#x8BAF;&#x7BA1;&#x7406;
                    
                    li.withripple.active(data-target='#about') &#x8D44;&#x8BAF;&#x53D1;&#x5E03;
                        .ripple-wrapper
                    
                    li.withripple(data-target='#about') &#x8D44;&#x8BAF;&#x5217;&#x8868;
                        .ripple-wrapper
                    
                    li.menu-head &#x6D88;&#x606F;&#x7BA1;&#x7406;
                    
                    li.withripple(data-target='#about') &#x6D88;&#x606F;&#x53D1;&#x5E03;
                        .ripple-wrapper
                    
                    li.withripple(data-target='#about') &#x6D88;&#x606F;&#x5217;&#x8868;
                        .ripple-wrapper
                    
                    li.menu-head &#x533F;&#x540D;&#x7FA4;&#x804A;&#x7BA1;&#x7406;
                    
                    li.withripple(data-target='#about') &#x7FA4;&#x6210;&#x5458;&#x7BA1;&#x7406;
                        .ripple-wrapper
                    
                    li.withripple(data-target='#about') &#x654F;&#x611F;&#x8BCD;&#x7BA1;&#x7406;
                        .ripple-wrapper
                    
                    li.withripple(data-target='#about') &#x53D1;&#x8A00;&#x7BA1;&#x7406;
                        .ripple-wrapper
            
            .pages.col-xs-10
    
    button#mail.btn.btn-fab.btn-material-grey-200
        i.mdi-content-mail
        .ripple-wrapper

