doctype html(lang='zh-CN')
head
    meta(charset='UTF-8')
        title {$title}
        link(rel='stylesheet', href='./Public/stylesheets/lib/bootstrap.min.css')
        link(rel='stylesheet', href='./Public/css/lib/roboto.min.css')
        link(rel='stylesheet', href='./Public/css/lib/material.min.css')
        link(rel='stylesheet', href='./Public/css/lib/material-fullpalette.min.css')
        link(rel='stylesheet', href='./Public/css/lib/roboto.min.css')
        link(rel='stylesheet', href='./Public/css/lib/ripples.min.css')
        link(rel='stylesheet', href='./Public/css/admin.css')
                                                                                