.g-alert{
  display: block;
  position: fixed;
  box-sizing: border-box;
  width: 320px;
  height: 70px;
  right: 40px;
  top: 40px;
  z-index: 6555535;
  padding-left: 100px;
  @include prefixer(user-select, none);
  cursor: default;

  background: linear-gradient(top,#f5f5f5,#ececec);
  background: -webkit-linear-gradient(top,#f5f5f5,#ececec);
  background: -moz-linear-gradient(top,#f5f5f5,#ececec);
  border-radius: 6px;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.2);
  &:hover {
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,.2);
  }
  &::before{
    display: block;
    position: absolute;
    content: $icon-lights;
    @extend .iconfont;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: -60px;
    font-size: 40px;
    color: #666;
  }
  .alert-title,
  .alert-content{
    height: 35px;
    line-height: 25px;
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .alert-title{
    line-height: 55px;
  }

  opacity: 1;

  @include prefixer(transition, all ease .5s);
  @include prefixer(transform, translateX(0));
  &.init{
    @include prefixer(transform, translateX(400px));
    @include prefixer(transition, all ease-out .3s);
  }
  &.finish {
    opacity: 0;
    @include prefixer(transform, translateX(400px));
  }
}