

$headerHeight: 60px;
$headerBackground: #fff;
$headerZIndex: 1000;
$headerTitleFontSize : 24px;


.header {
  display: block;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  min-width: 700px;
  height: $headerHeight;
  z-index: $headerZIndex;
  line-height: $headerHeight;
  background-color: $white;
  box-shadow: 1px 0 1px #ccc;

  .logo {
    display: inline-block;
    height: inherit;
    width: 150px;
    float: left;
    background-image: url(/img/logo_bright.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .txt {
    display: inline-block;
    float: left;
    width: 120px;
    font-size: $headerTitleFontSize;
  }
  .user-block {
    display: inline-block;
    float: right;
    width: auto;
    .user-head {
      display: inline-block;
      height: inherit;
      width: 50px;
      text-align: center;
      cursor: pointer;
      color: $color_oslo_gray_approx;

      &:before {
        @extend .iconfont;
        content: $icon-account;
        font-size: 20px;
        color:inherit;
      }
      &:hover {
        color: $color_outer_space_approx;
      }

    }
    .user-menu {
      display: inline-block;
      height: inherit;
      width: 50px;
      cursor: pointer;
      text-align: center;
      color: $color_oslo_gray_approx;
      &:before {
        @extend .iconfont;
        content: $icon-category;
        font-size: 20px;
        color: inherit;
      }
      &:hover {
        color: $color_outer_space_approx;
      }
    }
    .user-name {
      display: inline-block;
      height: inherit;
      width: auto;
      color: $color_oslo_gray_approx;
      font-size: 16px;
      box-sizing: border-box;
      padding-right: 10px;
      text-align: right;
      cursor: default;
    }
  }

}