$headerHeight: 60px;
$headerBackground: #fff;
$headerZIndex: 1000;
$headerTitleFontSize: 24px;

.header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 700px;
  height: $headerHeight;
  z-index: $headerZIndex;
  line-height: $headerHeight;
  background-color: $white;
  box-shadow: 1px 0 1px #aaa;
  @extend .no-select;

  .logo {
    display: inline-block;
    height: inherit;
    width: 150px;
    margin-left: 20px;
    float: left;
    background-image: url(/img/logo_bright.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
  .txt {
    display: inline-block;
    float: left;
    width: 120px;
    font-size: $headerTitleFontSize;
  }
  .user-block {
    display: inline-block;
    float: right;
    width: auto;
    .user-head {
      display: inline-block;
      height: inherit;
      width: 60px;
      text-align: center;
      cursor: pointer;
      color: $color_oslo_gray_approx;

      &:before {
        @extend .iconfont;
        content: $icon-account;
        font-size: 20px;
        color: inherit;
      }
      &:hover {
        color: $theme-color;
      }
      .hover-menu {
        width: inherit;
        margin-left: 0;
        .item {
          text-align: center;
          padding: 0;
          color: $color_cancel;
        }

      }

    }
    .user-menu {
      display: inline-block;
      height: inherit;
      width: 60px;
      cursor: pointer;
      text-align: center;
      color: $color_oslo_gray_approx;
      &:before {
        @extend .iconfont;
        content: $icon-category;
        font-size: 20px;
        color: inherit;
      }
      &:hover {
        color: $theme-color;
      }
    }
    .user-name {
      display: inline-block;
      height: inherit;
      width: auto;
      color: $color_oslo_gray_approx;
      font-size: 16px;
      box-sizing: border-box;
      padding-right: 10px;
      text-align: right;
      cursor: default;
    }

    &.unloggin {
      .user-name {
        display: none;
      }
      .user-menu {
        display: none;
      }
    }

  }
  .login-window {
    display: none;
    width: 360px;
    height: 270px;
    background-color: #FEFFFF;
    position: fixed;
    top: calc(50vh - 135px);
    left: calc(50vw - 180px);
    box-shadow: 0 0 7px #aaa;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;

    .input-wrapper {
      .form-label {
        display: inline-block;
        text-align: right;
        width: 80px;
      }
    }
    .tip-wrapper {
      display: block;
      width : auto;
      height: 20px;
      line-height: 20px;
      text-align: center;
      margin: auto;
      .tip {
        display: inline;
        font-size: 14px;
        color: $white;
        font-style: normal;

        word-break: break-all;
        word-wrap: break-word;

      }
      &.success .tip{
        color: $theme-color;
      }
      &.warning .tip{
        color: $color_tan_hide_approx;
      }
      &.wrong .tip{
        color: $color_carnation_approx;
      }
      &.hide .tip{
        display: none;
      }
    }
    .close-icon {

      display: block;
      position: absolute;
      margin: -20px 0 0 330px;
      color: $color_cancel;
      cursor: pointer;
      &::before {
        @extend .iconfont;
        font-style: normal;
        content: $icon-close;
        color: inherit;
      }
      &:hover {
        color: $color_link_blue;
      }
    }

  }

}