$leftNavWidth: 60px;
$leftNavZIndex: 900;

.left-nav {
  display: block;
  position: fixed;
  width: $leftNavWidth;
  background-color: $white;
  height: 100vh;
  min-height: 600px;
  top: 0;
  left: 0;
  padding-top: $headerHeight;
  box-sizing: border-box;
  z-index: $leftNavZIndex;
  border-right: 1px solid #ccc;
  //box-shadow: 0 1px 1px 2px #ddd;

  .nav-item {
    display: block;
    position: relative;
    width: inherit;
    height: $leftNavWidth;
    text-align: center;
    line-height: $leftNavWidth;
    cursor: pointer;
    border-bottom: 1px ridge #ccc;
    @include prefixer(transition,all ease-out .2s);

    .intro {
      display: block;
      opacity: 0;
      position: absolute;
      margin: -63px 0 0 60px;
      width: 80px;
      height: inherit;
      line-height: inherit;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background-color: $color_trout_approx;
      z-index: $leftNavZIndex + 10;
      @include prefixer(transform, translateX(-80px));
      @include prefixer(transition, all ease-out .2s);

      @include prefixer(transform-origin,left top);

    }
    .txt {
      font-weight: bold;
      height: inherit;
      width: 30px;
      line-height: inherit;
      color: $theme-color;
      margin: auto;
      z-index: $leftNavZIndex + 30;
    }
    &.write::before {
      @extend .iconfont;
      content: $icon-edit;
      font-size: 24px;
      color: $theme-color;
      z-index: $leftNavZIndex + 30;
    }
    &.deliver::before {
      @extend .iconfont;
      content: $icon-all;
      font-size: 24px;
      color: $theme-color;
      z-index: $leftNavZIndex + 30;
    }
    &.email::before {
      @extend .iconfont;
      content: $icon-email;
      font-size: 24px;
      color: $theme-color;
      z-index: $leftNavZIndex + 30;
    }
    &.settings::before {
      @extend .iconfont;
      content: $icon-set;
      font-size: 24px;
      color: $theme-color;
      z-index: $leftNavZIndex + 30;
    }
    &.dealed::before {
      @extend .iconfont;
      content: $icon-success;
      font-size: 24px;
      color: $theme-color;
      z-index: $leftNavZIndex + 30;
    }
    &.people::before {
      @extend .iconfont;
      content: $icon-account;
      font-size: 24px;
      color: $theme-color;
      z-index: $leftNavZIndex + 30;
    }
    &:hover {
      background-color: $theme-color;
      &::before {
        color: $white;
      }
      .txt {
        color: #fff;
      }
      .intro {
        opacity: 0.7;
        @include prefixer(transform, translateX(0));
        @include prefixer(transition, all ease-out .3s);
      }
    }
    &.active {
      background-color: $theme-color;
      &::before {
        color: $white;
      }
      .txt {
        color: #fff;
      }
    }

  }
}