section.left-nav
    div.nav-item.p-dis.deliver
        div.intro 分发邮件
    div.nav-item.email
        div.intro 收件箱
    div.nav-item.dealed
        div.intro 发件箱
    div.nav-item.people.p-adm
        div.intro 用户管理
    div.nav-item.tags.p-adm
        div.intro 分类浏览
    div.nav-item.tags-manage.p-adm
        div.intro 标签管理
    div.nav-item.settings.p-adm
        div.intro 设置


