section.left-nav
    div.nav-item.write
        div.intro 新建邮件
    div.nav-item.deliver
        div.intro 分发邮件
    div.nav-item.email
        div.intro 收件箱
    div.nav-item.dealed
        div.intro 已处理邮件
    div.nav-item.settings
        div.intro 设置
    div.nav-item.people
        div.intro 用户管理


