section.left-mail-list.show#left-mail-list
    i.hide-btn#mail-list-toggle-btn(title='收起列表')
    header.list-header
        span.title#mail-list-title 邮件列表
    div.mails-wrapper
        dl.mail
        dl.mail
        dl.mail
        dl.mail
        dl.mail
        dl.mail
        dl.mail
