@charset "UTF-8";
//-----------------------------------------------------	
// setting scss
//-----------------------------------------------------	


// 开关设置
//-----------------------------------------------------	
$lte7:                  true !default; //是否兼容ie6-7
$filter:                false !default; //是否为ie6-8开启css3滤镜兼容，常用于渐变背景 
$printStyleSwitch:      false !default; //是否开启打印样式


// font相关
//-----------------------------------------------------	
$baseFontSize:          16px !default;
$baseLineHeight:        1.5 !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Tahoma, sans-serif !default;
$fontCn:                "SimSun"; //宋体
$fontYaHei:             "Microsoft Yahei"; //微软雅黑
$fontHeiTi:             "SimHei"; //黑体
$fontPingHei:           "ph";


// 元素上下间距
//-----------------------------------------------------	
$baseGap:               20px !default;


// 基本颜色
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacify($color, $amount)
// mix($color1, $color2[, $amount])
//-----------------------------------------------------	
$black:                 #000 !default;
$grayDarker:            #333 !default;
$grayDark:              #999 !default;
$gray:                  #ccc !default;
$grayLight:             #f5f5f5 !default;
$white:                 #fff !default;

$red:                   #cc3300 !default;
$blue:                  #00A3CF !default;
$blueDark:              #0064cd !default;
$orange:                #F47837 !default;
$green:                 #51B148 !default;
$yellow:                #ffc40d !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

$primary:               #0078E7 !default;//主色
$theme-color:           #24BF95;
$hover-color:           #1FB28A;
$theme-font-color:      #424B5C;
$menu-hover-background-color: #F4F5F6;
$white:                 #fff;
$color_trout_approx:    #48515a;
$color_comet_approx:    #52616e;
$color_mountain_meadow_approx: #1fb28a;
$color_shamrock_approx: #2dc69d;
$color_amaranth_approx: #e9444d;
$color_carnation_approx:#ed555a;
$color_viking_approx:   #66b3dd;
$color_seagull_approx:  #80c4e9;
$color_mantis_approx:   #6dc85f;
$color_pastel_green_approx: #81d577;
$color_cornflower_blue_approx: #6093e4;
$color_portage_approx:  #75a9fd;
$color_tan_hide_approx: #ff9d59;
$color_rajah_approx:    #ffac68;
$color_lynch_approx:    #6f809c;
$color_bali_hai_approx: #8598b8;
$color_emerald_approx:  #46bf7c;
$color_manatee_approx:  #8b929c;
$color_navy_blue:       #414C5E;
$color_silver_chalice_approx: #aaa;
$color_cerulean_approx: #029be5;
$color_oslo_gray_approx:#838f93;
$font-color:            #323b3d;
$color_silver_approx:   #bdbdbd;
$color_carnation_approx:#f25c5e;
$color_link_blue:       #2D88E3;
$color_body_background: #FEFFFF;
$color_cancel:          #909a9c;
$color_bg_light_gray:   #f5f5f5;
// link
//-----------------------------------------------------	
// 如果只有一个值则滑过的值为这个值的darken 5%，如果
// 有两个值则第二个值为滑过的值
$linkColor:             #08c !default;


// scaffolding
//-----------------------------------------------------	
$bodyBgColor:           $white !default;
$textColor:             $grayDarker !default;


// placeholder
//-----------------------------------------------------	
// 变量分别为：是否输出表单的占位符placeholder样式，文本色
$placeholder:           true $gray !default;


// 交互配色
// 警告，错误，成功，提示
//-----------------------------------------------------	
// 每个变量都有三个颜色值，分别为：文本色，背景色，边框色
$warningColor:               #514721 #FFF6BF #FFD324 !default;
$errorColor:                 #8A1F11 #FBE3E4 #FBC2C4 !default;
$successColor:               #264409 #E6EFC2 #C6D880 !default;
$infoColor:                  #205791 #D5EDF8 #92CAE4 !default;


// radius
//-----------------------------------------------------	
$baseRadius:            5px !default;
$smallRadius:           3px !default;


// z-index
//-----------------------------------------------------	
$zindexDropdown:        1000 !default;
$zindexFixedTopbar:     1010 !default;
$zindexTooltip:         1020 !default;
$zindexAlert:           1030 !default;
$zindexModal:           1100 !default;

//iconFont-content:
$icon-all: "\e600";
$icon-back: "\e601";
$icon-category: "\e602";
$icon-close: "\e603";
$icon-comments: "\e604";
$icon-cry: "\e605";
$icon-delete: "\e606";
$icon-edit: "\e607";
$icon-email: "\e608";
$icon-favorite: "\e609";
$icon-folder: "\e60a";
$icon-form: "\e60b";
$icon-help: "\e60c";
$icon-information: "\e60d";
$icon-less: "\e60e";
$icon-moreunfold: "\e60f";
$icon-more: "\e610";
$icon-refresh: "\e611";
$icon-search: "\e612";
$icon-selected: "\e613";
$icon-set: "\e614";
$icon-smile: "\e615";
$icon-success: "\e616";
$icon-viewgallery: "\e617";
$icon-warning: "\e618";
$icon-wrong: "\e619";
$icon-account: "\e61a";
$icon-add: "\e61b";
$icon-clock: "\e61c";
$icon-attachment: "\e61d";
$icon-3column: "\e61e";
$icon-discount: "\e61f";
$icon-box: "\e620";
$icon-security: "\e621";
$icon-process: "\e622";
$icon-electronics: "\e623";
$icon-lights: "\e624";
