doctype html
html
    head
        meta(charset='UTF-8')

        title=title

        link(rel='stylesheet', href='/css/pages/index.css')
        link(rel='styleSheet', href='/css/markdown.css')
        script(src='js/lib/jquery.min.js')
        script(src='js/lib/seajs.js')


        block stylesheets

    body.index-page.none
        include ../partial/header
        include ../partial/left
        include ../partial/tabWrapper
        //section.tab-page.active#tab-page-0
            //div#mail-list-wrapper
            //    include ../partial/leftMailList
            //    div.right-detail-section


    iframe#template(src="/templates/templates.htm")
    script.
        console.log("start!");
        seajs.config({
            base: "/js/",
            alias: {
                "is": "lib/is.min.js",
                "highcharts": "lib/hightcharts.js",
                "Map": "lib/Map.js",
                "md5": "lib/MD5.js",
                "juicer": "lib/juicer.js",
                "mouseWheel": "lib/mouseWheel.js",
                "tmpManager": "script/templates.js",

                "main": "script/main.js",
                "header": "script/headerController.js",
                "left": "script/leftUtilController.js",
                "user": "script/userModel.js",
                "mail": "script/mailModel.js",
                "tag": "script/tagModel.js",

                "mailListController": "script/leftMailListController.js",
                "tabPageController": "script/tabPageController.js",
                "peopleManage": "script/peopleManage.js",
                "mailEditor": "script/mailEditor.js",
                "dispatcher": "script/dispatchController.js",
                "consumer": "script/consumeController.js",
                "stickTagPage": "script/tagViewController.js",
                "tagManager": "script/tagManageController.js",
                "auditor":"script/auditorController.js"
            }

        });
        seajs.use("main");

    script(src='js/lib/marked.min.js')
    script(src='js/lib/select2.full.min.js')
    script(src='js/lib/jquery.dateTimePicker.js')
    script(type="text/javascript" src="/ueditor/ueditor.config.js")
    script(type="text/javascript" src="/ueditor/ueditor.all.js")

