doctype html
html
    head
        meta(charset='UTF-8')

        title=title

        link(rel='stylesheet', href='/css/pages/index.css')
        link(rel='styleSheet', href='/css/markdown.css')
        script(src='js/lib/seajs.js')
        script(src='js/lib/marked.min.js')
        script(src='js/lib/jquery.js')

        block stylesheets

    body.index-page
        include ../partial/header
        include ../partial/left
        include ../partial/tabWrapper
        section.tab-page.active#tab-page-0

            include ../partial/leftMailList


    iframe#template(src="/templates/templates.htm")
    script.
        console.log("start!");
        seajs.config({
        base: "/js/",
        alias: {
            "jquery": "lib/jquery.js",
            "is": "lib/is.min.js",
            "highcharts": "lib/hightcharts.js",
            "Map": "lib/Map.js",
            "md5": "lib/MD5.js",
            "juicer": "lib/juicer.js",
            "mouseWheel" : "lib/mouseWheel.js",
            "tmpManager" : "script/templates.js",


            "main" : "script/main.js",
            "header": "script/headerController.js",
            "left": "script/leftUtilController.js",
            "user": "script/userModel.js",
            "mailListController": "script/leftMailListController.js",
            "tabPageController" : "script/tabPageController.js",
            "peopleManage" : "script/peopleManage.js",
            "mailEditor" : "script/mailEditor.js"
            }

        });
        seajs.use("main");


