<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<!--tab-->
<div id="tmp-tab">
  <div class="tab" id="${id}"><span class="name">${name}</span><i class="icon-close"></i></div>
</div>

<script id="tmp-tab-page" type="text/html">
  <section class="tab-page" id="${id}">

  </section>
</script>


<script id="tmp-editor-page" type="text/html">
  <div class="editor-block">
    <div class="row top-row">
      <div class="btn-wrapper">
        <span class="btn radiusBtn square auto style_1" id="send-mail-${id}">发送</span>
        <span class="btn radiusBtn square auto style_1 ghostBtn">取消</span>
      </div>
    </div>
    <div class="row">
      <span class="txt title-left">邮件地址</span>

      <div class="col col-right">
        <div type="text" class="input input-mail-to" id="mail-to-${id}" contenteditable="true"
             data-mail-id="${mail.id}">${mail.from}
        </div>
        <div class="icon-remove"></div>
        <input type="hidden" class="input-mail-to-hidden"/>
      </div>
    </div>
    <div>

    </div>
    <div class="row">
      <span class="txt title-left">主题</span>

      <div type="text" class="input input-theme" id="mail-title-${id}" contenteditable="true">${mail.title}</div>
    </div>
    <div class="row p-adm">
      <span class="txt title-left">标签分类</span>

      <div class="tag-wrapper">
        <div class="mail-tag add">
          <div class="icon-add-tag"></div>
          <span class="txt" contenteditable="true"></span>
        </div>
        <div class="btn radiusBtn square auto style_1 commit" id="tag-commit">保存分类</div>
      </div>
    </div>
    <div class="row editor-area">
      <span class="txt title-left">邮件正文</span>

      <div class="right-textarea">
        <div class="mail-html">$${mail.html}</div>

        <textarea class="mail-content p-con" id="mail-textarea-${id}">输入您的邮件正文</textarea>

        <div class="marked-view markdown-body p-con" id="mail-marked-${id}"></div>
      </div>
    </div>
  </div>
</script>

<script id="tmp-people-manage" type="text/html">
  <!--
    {@helper getPrivilege}
      function(name){
        var arr = ['consumer','dispatcher','auditor','admin'];
        var zh  = ['处理人员','分发人员','审核人员','管理员'];
        var index1 = arr.indexOf(name);
        var index2 = zh.indexOf(name);
        if(index1 > -1 ){
          return zh[index1];
        }else {
          return arr[index2];
        }
      }
    {@/helper}
    {@helper time}
      function(time){
        var d = new Date(time);
        return d.toLocaleString();
      }
    {@/helper}
    -->
  <div id="people-manage" data-module="people-manage">
    {@each users as p}

    <div class="m-user-wrapper user" id="admin-user-${p.id}" data-id="${p.id}">
      <div class="user-name">
        <span class="m-username" data-checked="0">用户：${p.username}</span>

        <div class="drop-arrow">
          <div class="drop-menu">
            <div class="item user-save" id="user-save-${p.id}" data-id="${p.id}">保存</div>
            <div class="item user-delete" id="user-delete-${p.id}" data-id="${p.id}">删除</div>
            <div class="item user-cancel" id="user-cancel-${p.id}" data-id="${p.id}">取消</div>
          </div>
        </div>
      </div>
      <div class="create-time">${p.createdAt|time}</div>
      <div class="password form hide">
        <input type="password" class="form-text inline-ele  pwd-input" placeholder="输入新密码"/>
      </div>
      <div class="intro">
        <span class="privilege ">${p.privilege|getPrivilege}</span>

        <div class="user-privilege-list">
          <div class="privilege-item" data-privilege="consumer" data-id="${p.id}">处理</div>
          <div class="privilege-item" data-privilege="dispatcher" data-id="${p.id}">分派</div>
          <div class="privilege-item" data-privilege="auditor" data-id="${p.id}">审核</div>
          <div class="privilege-item" data-privilege="admin" data-id="${p.id}">管理</div>
        </div>
      </div>
      <div class="operation">
        <a class="txt user-pwd" id="user-pwd-${p.id}" data-id="${p.id}">修改密码</a>
        <span class="txt">|</span>
        <a class="txt user-privilege" id="user-privilege-${p.id}" data-id="${p.id}">修改权限</a>
      </div>
    </div>
    {@/each}

    <div class="m-user-wrapper add" data-id="0">
      <div class="user-name">
        <span class="m-username" data-checked="0" contenteditable="true">输入用户名</span>

        <div class="drop-arrow">
          <div class="drop-menu">
            <div class="item user-save" id="user-save-0" data-id="0">保存</div>
            <div class="item user-delete" id="user-delete-0" data-id="0">删除</div>
            <div class="item user-cancel" id="user-cancel-0" data-id="0">取消</div>
          </div>
        </div>
      </div>
      <div class="password form">
        <input type="password" class="form-text inline-ele pwd-input" placeholder="输入新密码"/>
      </div>
      <div class="intro change">
        <span class="privilege">请选择</span>

        <div class="user-privilege-list">
          <div class="privilege-item" data-privilege="consumer" data-id="0">处理</div>
          <div class="privilege-item" data-privilege="dispatcher" data-id="0">分派</div>
          <div class="privilege-item" data-privilege="auditor" data-id="0">审核</div>
          <div class="privilege-item" data-privilege="admin" data-id="0">管理</div>
        </div>
      </div>
      <div class="operation">
        <a class="txt user-pwd" id="user-pwd-0" data-id="0">修改密码</a>
        <span class="txt">|</span>
        <a class="txt user-privilege" id="user-privilege-0" data-id="0">修改权限</a>
      </div>
    </div>
  </div>
</script>

<script id="tmp-user-wrapper" type="text/html">
  <div class="user-name">
    <span class="m-username">用户：${p.username}</span>

    <div class="drop-arrow">
      <div class="drop-menu">
        <div class="item user-save" id="user-save-${p.id}" data-id="${p.id}">保存</div>
        <div class="item user-delete" id="user-delete-${p.id}" data-id="${p.id}">删除</div>
        <div class="item user-cancel" id="user-cancel-${p.id}" data-id="${p.id}">取消</div>
      </div>
    </div>
  </div>
  <div class="create-time">${p.createdAt|time}</div>
  <div class="password form hide">
    <input type="password" class="form-text inline-ele" placeholder="输入新密码"/>
  </div>
  <div class="intro">
    <span class="privilege ">${p.privilege|getPrivilege}</span>

    <div class="user-privilege-list">
      <div class="privilege-item" data-privilege="consumer">处理</div>
      <div class="privilege-item" data-privilege="dispatcher">分派</div>
      <div class="privilege-item" data-privilege="auditor">审核</div>
      <div class="privilege-item" data-privilege="admin">管理</div>
    </div>
  </div>
  <div class="operation">
    <a class="txt user-pwd" id="user-pwd-${p.id}" data-id="${p.id}">修改密码</a>
    <span class="txt">|</span>
    <a class="txt user-privilege" id="user-privilege-${p.id}" data-id="${p.id}">修改权限</a>
  </div>
</script>


<script id="tmp-add-user" type="text/html">
  <div class="m-user-wrapper add" data-id="0">
    <div class="user-name">
      <span class="m-username" contenteditable="true" data-checked="0">输入用户名</span>

      <div class="drop-arrow">
        <div class="drop-menu">
          <div class="item user-save" id="user-save-0" data-id="0">保存</div>
          <div class="item user-delete" id="user-delete-0" data-id="0">删除</div>
          <div class="item user-cancel" id="user-cancel-0" data-id="0">取消</div>
        </div>
      </div>
    </div>
    <div class="password form">
      <input type="password" class="form-text inline-ele  pwd-input" placeholder="输入新密码"/>
    </div>
    <div class="intro change">
      <span class="privilege">请选择</span>

      <div class="user-privilege-list">
        <div class="privilege-item" data-privilege="consumer" data-id="0">处理</div>
        <div class="privilege-item" data-privilege="dispatcher" data-id="0">分派</div>
        <div class="privilege-item" data-privilege="auditor" data-id="0">审核</div>
        <div class="privilege-item" data-privilege="admin" data-id="0">管理</div>
      </div>
    </div>
    <div class="operation">
      <a class="txt user-pwd" id="user-pwd-0" data-id="0">修改密码</a>
      <span class="txt">|</span>
      <a class="txt user-privilege" id="user-privilege-0" data-id="0">修改权限</a>
    </div>
  </div>
</script>


<script id="tmp-mail-list-item" type="text/html">
  <!--
  {@helper headClass}
    function(text){
      return (text.length)%19;
    }
  {@/helper}

   {@helper date}
      function(time){
        var d = new Date(time);
        return (d.getMonth()+1)+'月'+d.getDate()+'日';
      }
   {@/helper}

   {@helper pureTxt}
      function (html){
        html = html.replace(/<\/?[^>]+(>|$)/g, "").replace(/\&nbsp;/g, '');
        html = html.slice(0,20);
        html += "...";

        return html;
      }
   {@/helper}
  -->
  <div class="mail status-${mail.status}" data-id="${mail.id}" data-tags="{@each mail.tags as t}${t.id},{@/each}">
    <div class="mail-from-head" data-head="${mail.from|headClass}">
      <div class="user-head-icon user-head-${mail.from|headClass}"></div>
    </div>
    <div class="mail-content">
      <div class="mail-from">
        <span class="txt">${mail.from}</span>
      </div>
      <div class="mail-title">
        <span class="txt">${mail.title}</span>
      </div>
      <div class="mail-tags">
        {@each mail.tags as t}
        <span class="txt tag">${t.content}</span>
        {@/each}

      </div>
      <div class="mail-details">
        <span class="txt">${mail.createdAt|date}</span>
      </div>
      <div class="mail-html">
        $${mail.html|pureTxt}
      </div>
    </div>
  </div>
</script>


<script id="tmp-outbox-list-item" type="text/html">
  <!--
  {@helper headClass}
    function(text){
      return (text.length)%19;
    }
  {@/helper}

   {@helper date}
      function(time){
        var d = new Date(time);
        return (d.getMonth()+1)+'月'+d.getDate()+'日';
      }
   {@/helper}

   {@helper pureTxt}
      function (html){
        html = html.replace(/<\/?[^>]+(>|$)/g, "").replace(/\&nbsp;/g, '');
        html = html.slice(0,20);
        html += "...";

        return html;
      }
   {@/helper}
  -->
  <div class="mail status-${mail.status}" data-id="${mail.id}" data-tags="{@each mail.tags as t}${t.id},{@/each}">
    <div class="mail-from-head" data-head="${mail.to|headClass}">
      <div class="user-head-icon user-head-${mail.to|headClass}"></div>
    </div>
    <div class="mail-content">
      <div class="mail-from">
        <span class="txt">${mail.to}</span>
      </div>
      <div class="mail-title">
        <span class="txt">${mail.title}</span>
      </div>
      <div class="mail-tags">
        {@each mail.tags as t}
        <span class="txt tag">${t.content}</span>
        {@/each}

      </div>
      {@if mail.status == 'failed'}
      <div class="row">

      </div>
      {@/if}
      <div class="mail-details">
        <span class="txt">${mail.createdAt|date}</span>
      </div>
      <div class="mail-html">
        $${mail.html|pureTxt}
      </div>
    </div>
  </div>
</script>

<script id="tmp-mail-detail" type="text/html">
  <div class="mail-detail inbox-mail-detail">
    <div class="scroll-view">
      <div class="row">
        <span class="txt title-left">发件人</span>
        <span class="link">${mail.from}</span>
      </div>
      <div class="row">
        <span class="txt title-left">主题</span>
        <span class="link">${mail.title}</span>
      </div>
      <div class="row">
        <span class="txt title-left">操作</span>

        <div class="manu-col">
          <div class="btn radiusBtn square style_1 auto p-dis f-tag" data-id="${mail.id}">分类</div>
          <div class="btn radiusBtn square style_1 auto p-dis f-dis" data-id="${mail.id}">分发</div>
          <div class="btn radiusBtn square style_1 auto p-con f-con" data-id="${mail.id}">回复</div>
          <div class="btn radiusBtn square style_1 auto p-aud f-aud" data-id="${mail.id}">审核</div>
        </div>
      </div>
      <div class="row editor-area">
        <span class="txt title-left">邮件正文</span>

        <div class="right-textarea">
          <div class="mail-html">$${mail.html}</div>

        </div>
      </div>

    </div>
  </div>
</script>

<script id="tmp-outbox-mail-detail" type="text/html">

  <!--
 {@helper ndate}
    function(time){
      var d = new Date(time);
      return d.toLocaleString();
    }
 {@/helper}

{@helper transStatus}
  function(status){
    var arr1 = ['received','assigned','handled','finished','rejected','failed'];
    var arr2 = ['已接收，待分发','已分发，待处理','已处理，待审核','已完成','审核未通过','发送失败'];
    return arr2[arr1.indexOf(status)];
  }
{@/helper}
  -->
  <div class="mail-detail outbox-mail-detail">
    <div class="scroll-view">
      <div class="row">
        <span class="txt title-left">发件人</span>
        <span class="link">${mail.to}</span>
      </div>
      <div class="row">
        <span class="txt title-left">主题</span>
        <span class="link">${mail.title}</span>
      </div>
      <div class="row">
        <span class="txt title-left">截止期限</span>
        <span class="txt title-left">{@if mail.deadline==null}无{@else}${mail.deadline|ndate}{@/if}</span>
        <span class="txt title-left">状态</span>
        <span class="txt titile-left">${mail.status|transStatus}</span>
      </div>
      <div class="row">
        <span class="txt title-left">标签</span>
        {@each mail.tags as t }
        <span class="tag" data-tag-id="${t.id}">${t.content}</span>
        {@/each}
      </div>

      <div class="row editor-area">
        <span class="txt title-left">处理内容</span>

        <div class="right-textarea">
          <div class="mail-html">$${mail.html}</div>
        </div>

        <div class="right-textarea">
          <h1>原文内容</h1>
          <div class="mail-html">$${mail.replyTo.html}</div>
        </div>
      </div>
    </div>

  </div>
</script>


<script id="tmp-mail-list-page" type="text/html">
  <div id="mail-list-wrapper">
    <section class="left-mail-list show left-mail-list">
      <i class="hide-btn mail-list-toggle-btn" title="收起列表"></i>
      <header class="list-header">
        <select id="mail-list-filter" multiple="multiple"></select>
      </header>
      <div class="mails-wrapper">
        <div class="mail load-more">加载更多</div>
      </div>
    </section>
    <div class="right-detail-section">

    </div>
  </div>
</script>

<script id="tmp-outbox-list-page" type="text/html">
  <div id="outbox-list-wrapper">
    <section class="left-mail-list show left-mail-list">
      <i class="hide-btn mail-list-toggle-btn" title="收起列表"></i>
      <header class="list-header">
        <select id="outbox-list-filter" multiple="multiple"></select>
      </header>
      <div class="mails-wrapper">
        <div class="mail load-more">加载更多</div>
      </div>
    </section>
    <div class="right-detail-section">

    </div>
  </div>
</script>


<script id="tmp-inbox" type="text/html">
  <div>
    <section class="left-mail-list show">
      <i class="hide-btn mail-list-toggle-btn" title="收起列表"></i>
      <header class="list-header">
        <select id="left-mail-filter" multiple="multiple"></select>
      </header>
      <div class="mails-wrapper">
        <div class="mail load-more">加载更多</div>
      </div>
    </section>
    <div class="right-detail-section">

    </div>
  </div>
</script>


<script id="tmp-outbox" type="text/html">
  <div>
    <section class="left-mail-list show">
      <i class="hide-btn mail-list-toggle-btn" title="收起列表"></i>
      <header class="list-header">
        <span class="title mail-list-title">收件箱</span>
      </header>
      <div class="mails-wrapper">
        <div class="mail load-more">加载更多</div>
      </div>
    </section>
    <div class="right-detail-section">

    </div>
  </div>
</script>

<!--邮件处理人员-->

<script id="tmp-consume" type="text/html">
  <div id="consume-wrapper">
    <section class="left-mail-list show left-mail-list">
      <i class="hide-btn mail-list-toggle-btn" title="收起列表"></i>
      <header class="list-header">
        <select id="consume-mail-filter" multiple="multiple"></select>
      </header>
      <div class="mails-wrapper">
        <div class="mail load-more">加载更多</div>
      </div>
    </section>
    <div class="right-detail-section">
    </div>
  </div>
</script>

<div id="tmp-consume-mail-detail" type="text/html">
  <!--
  {@helper time}
      function(time){
        var d = new Date(time);
        return d.toLocaleString();
      }
 {@/helper}
 {@helper ndate}
    function(time){
      var d = new Date(time);
      return d.toLocaleString();
    }
 {@/helper}
-->
  <div class="mail-detail consume-mail-detail">
    <div class="consume-wrapper">
      <div class="row">
        <div class="btn radiusBtn square auto style_2 commit" id="ue-show-${mail.id}">编辑回复</div>
        <div class="btn radiusBtn square auto style_1 commit" id="consume-commit-${mail.id}" data-id="${mail.id}"
             data-title="${mail.title}" data-from="${mail.from}">发送
        </div>
        <div class="btn radiusBtn square auto style_8 commit" id="urgent-commit-${mail.id}">加急发送</div>
        <span class="txt tip-txt">(提醒：加急发送是未经审核的！请慎重使用)</span>
      </div>
      <div class="row">
        <span class="txt title-left">发件人</span>
        <span class="link">${mail.from}</span>
      </div>
      <div class="row">
        <span class="txt title-left">主题</span>
        <span class="link">${mail.title}</span>
      </div>


      <div class="row">
        <span class="txt title-left">截止期限</span>
        <span class="txt">{@if mail.deadline==null}无{@else}${mail.deadline|ndate}{@/if}</span>
      </div>
      <div class="row">
        <span class="txt title-left">分发自</span>
        <span class="txt link">${mail.dispatcher.name} </span>

        <div class="btn radiusBtn square auto style_0 commit" id="mail-return-${mail.id}">退信</div>

      </div>
      <div class="row">
        <span class="txt title-left">标签</span>
        {@each mail.tags as t }
        <span class="tag" data-tag-id="${t.id}">${t.content}</span>
        {@/each}
      </div>

      <div class="row f-row">
        <span class="txt title-left p-con">转发给</span>

        <div class="receiver-wrapper p-con">
          <select id="select-trans-number" class="user"></select>

          <div class="btn radiusBtn square auto style_1 commit" id="mail-trans-commit-${mail.id}" data-id="${mail.id}">
            转发
          </div>
          <span class="txt tip">转发之后您会失去对这封邮件的处理权!</span>
        </div>
      </div>

      <div class="row f-row">
        <span class="txt title-left p-con">选择审核人</span>

        <div class="receiver-wrapper p-con">
          <select id="select-auditor-to-commit" class="user"></select>
        </div>
      </div>

      <div class="row">
        <div class="mail-html-wrapper">
          <div class="mail-html">
            $${mail.html}
          </div>
        </div>

      </div>

    </div>
    <div class="right-input-wrapper full-editor hide" id="full-editor-${mail.id}">
      <div class="ue-window" id="ue-window-${mail.id}">
        <div class="ue-wrapper">
          <script id="editor-${mail.id}" type="text/html"
                  style="width:calc(100% - 20px);height:330px;margin:auto;">在这里填写回复内容</script>
        </div>
        <div class="row">
          <div class="btn radiusBtn square auto style_0" id="ue-hide-${mail.id}">收起编辑</div>
          <div class="btn radiusBtn square auto style_1" id="ue-save-${mail.id}">保存内容</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--邮件处理人员-->

<script id="tmp-dispatch" type="text/html">
  <div id="dispatch-wrapper">
    <section class="left-mail-list show left-mail-list">
      <i class="hide-btn mail-list-toggle-btn" title="收起列表"></i>
      <header class="list-header">
        <select id="dispatch-mail-filter" multiple="multiple"></select>
      </header>
      <div class="mails-wrapper">
        <div class="mail load-more">加载更多</div>
      </div>
    </section>
    <div class="right-detail-section">
    </div>
  </div>
</script>

<script id="tmp-dispatch-mail-detail" type="text/html">
  <div class="mail-detail dispatch-mail-detail">
    <div class="scroll-view">
      <div class="row">
        <span class="txt title-left">发件人</span>
        <span class="link">${mail.from}</span>
      </div>
      <div class="row">
        <span class="txt title-left">主题</span>
        <span class="link">${mail.title}</span>
      </div>
      <div class="row f-row">
        <span class="txt title-left p-dis">分派</span>

        <div class="receiver-wrapper p-dis">
          <select id="select-dispatch-number" class="user" multiple="multiple"></select>

          <div class="btn radiusBtn square auto style_1 commit" id="dispatch-commit">现在分发</div>
        </div>
        <span class="txt title-left p-dis">贴标签</span>

        <div class="receiver-wrapper p-dis">
          <select id="select-tag-to-stick" class="user" multiple="multiple"></select>

          <div class="btn radiusBtn square auto style_1 commit" id="stick-tag-commit">确认添加</div>
        </div>
      </div>
      <div class="row">
      <span class="txt title-left">
        截止时间
      </span>
        <input type="text" class="inline-ele form-text" id="deadline-picker"/>
        <span class="btn radiusBtn square auto style_1 commit" id="set-deadline-btn" data-id="${mail.id}">设置截止日期</span>
      </div>
      <div class="row editor-area">
        <span class="txt title-left">邮件正文</span>

        <div class="right-textarea">
          <div class="mail-html">$${mail.html}</div>

        </div>
      </div>

    </div>
  </div>
</script>

<!--审核人员-->
<script id="tmp-auditor" type="text/html">
  <div id="auditor-wrapper">
    <section class="left-mail-list show left-mail-list">
      <i class="hide-btn mail-list-toggle-btn" title="收起列表"></i>
      <header class="list-header">
        <select id="auditor-mail-filter" multiple="multiple"></select>
      </header>
      <div class="mails-wrapper">
        <div class="mail load-more">加载更多</div>
      </div>
    </section>
    <div class="right-detail-section">
    </div>
  </div>
</script>

<script id="tmp-auditor-mail-detail" type="text/html">
  <!--
  {@helper date}
    function(time){
      var d = new Date(time);
      return d.toLocaleString();
    }
 {@/helper}
  -->

  <div class="mail-detail auditor-mail-detail">
    <div class="scroll-view">
      <div class="row">
        <span class="txt title-left">收件人</span>
        <span class="link">${mail.to}</span>
        <span class="txt ">由 <em class="user-name">${mail.consumer}</em> 处理</span>
      </div>
      <div class="row">
        <span class="txt title-left">主题</span>
        <span class="link">${mail.title}</span>
      </div>
      <div class="row">
        <span class="txt title-left">标签</span>
        {@each mail.tags as t }
        <span class="tag" data-tag-id="${t.id}">${t.content}</span>
        {@/each}
      </div>
      <div>
        <div class="row">
          <span class="txt title-left">审核意见</span>
          <span class="btn radiusBtn square auto style_1" id="pass-mail" data-id="${mail.id}">通过</span>
          <span class="btn radiusBtn square auto style_8" id="reject-mail">退回</span>

        </div>
        <div class="row">
          <span class="txt title-left">拒绝原因</span>
        <span type="text" class="form-text inline-ele my-input" id="reject-reason" contenteditable="true">
         ${mail.consumer}
          您好!：
          您处理的标题为: ${mail.title} 的邮件经过我的审核发现有如下问题，予以退回：
        </span>
        </div>
        <div>

        </div>
        <div class="row editor-area">
          <span class="txt title-left">处理内容</span>

          <div class="right-textarea">
            <div class="mail-html">$${mail.html}</div>
          </div>

          <div class="right-textarea">
            <h1>原文内容</h1>
            <div class="mail-html">$${mail.replyTo.html}</div>
          </div>
        </div>

      </div>
    </div>
</script>

<!--审核人员-->

<script id="tmp-mail-tag" type="text/html">
  <div class="mail-tag add">
    <div class="icon-add-tag"></div>
    <span class="txt" contenteditable="true"></span>
  </div>
</script>

<script id="tmp-mail-receiver" type="text/html">
  <div class="mail-receiver add">
    <div class="icon-add-receiver"></div>
    <span class="txt" contenteditable="true"></span>
  </div>
</script>

<script id="tmp-user-list" type="text/html">

  <optgroup label="管理员">

    {@each admin as u}
    <option value="${u.id}">${u.username}</option>
    {@/each}
  </optgroup>

  <optgroup label="处理人员">
    {@each consumer as u}
    <option value="${u.id}">${u.username}</option>
    {@/each}
  </optgroup>

  <optgroup label="分发人员">

    {@each dispatcher as u}
    <option value="${u.id}">${u.username}</option>
    {@/each}

  </optgroup>

  <optgroup label="审核人员">
    {@each auditor as u}
    <option value="${u.id}">${u.username}</option>
    {@/each}
  </optgroup>

</script>

<script id="tmp-consumers-list" type="text/html">
  <optgroup label="处理人员">

    {@each consumer as u}
    <option value="${u.id}">${u.username}</option>
    {@/each}

  </optgroup>
</script>

<script id="tmp-auditor-list" type="text/html">
  <optgroup label="审核人员">
    {@each auditor as u}
    <option value="${u.id}">${u.username}</option>
    {@/each}
  </optgroup>
</script>

<script id="tmp-tags-drop" type="text/html">
  {@each tags as t}
  {@if t.id>=6 }
  <option value="${t.id}" {@if t.selected==1} selected
          {@/if}>${t.content}</option>
  {@/if}
  {@/each}
</script>

<script id="tmp-filter-search" type="text/html">
  <option value="0" selected>全部</option>
  {@each tags as t}
  <option value="${t.id}">${t.content}</option>
  {@/each}
</script>

<script id="tmp-tag-manage" type="text/html">
  <div id="tag-manage-page">
    <table id="tags-table" class="table">
      <thead>
      <tr>
        <th width="300">id</th>
        <th width="300">名称</th>
        <th width="300">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>

        </td>
        <td>
          <input type="text" class="form-text inline-ele" id="f-add-tag-name" placeholder="请输入您要添加的标签名"/>
        </td>
        <td>
          <span class="btn radiusBtn style_1 square auto p-adm f-add-tag-btn" id="f-add-tag-btn">添加标签</span>
        </td>
      </tr>

      {@each tags as t}

      <tr id="tag-manage-tr-${t.id}">
        <td>
          <span>${t.id}</span>
        </td>
        <td>
          <span>${t.content}</span>
        </td>
        <td>
          <span class="btn radiusBtn style_8 square auto p-adm f-del-tag" id="f-del-tag-${t.id}"
                data-id="${t.id}">删除</span>
        </td>
      </tr>

      {@/each}

      </tbody>
    </table>
  </div>
</script>


<script id="tmp-tag-manage-tr" type="text/html">
  <tr id="tag-manage-tr-${tag.id}">
    <td>
      <span>${tag.id}</span>
    </td>
    <td>
      <span>${tag.content}</span>
    </td>
    <td>
      <span class="btn radiusBtn style_8 square auto p-adm f-del-tag" id="f-del-tag-${tag.id}"
            data-id="${tag.id}">删除</span>
    </td>
  </tr>
</script>

<script id="tmp-tag-add-tr" type="text/html">
  <tr>
    <td>

    </td>
    <td>
      <input type="text" class="form-text inline-ele" id="f-add-tag-name"/>
    </td>
    <td>
      <span class="btn radiusBtn style_1 square auto p-adm f-add-tag-btn">添加标签</span>
    </td>
  </tr>
</script>

<script id="tmp-msg-wrapper" type="text/html">
  <div class="" id="your-messages" tabindex="20">
    <div class="scroll-box">
      <div class="list-wrapper">
        <div class="msg load-more">
          <span class="txt">加载更多</span>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="tmp-msg-list-item" type="text/html">
  {@each messages as msg}
  <div class="msg msg-${msg.status}" data-id="${msg.id}" data-title="${msg.title}" data-content="${msg.content}">
    <div class="title">${msg.title}</div>
    <div class="content">${msg.text}</div>
  </div>
  {@/each}
</script>


</body>
</html>