<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <!--tab-->
  <div id="tmp-tab">
    <div class="tab" id="${id}"><span class="name">${name}</span><i class="icon-close"></i></div>
  </div>

  <div id="tmp-tab-page">
    <section class="tab-page" id="${id}">

    </section>
  </div>
  <div id="tmp-editor-page">
    <div class="editor-block">
      <div class="top-row">
        <div class="btn-wrapper">
          <span class="btn radiusBtn square mid style_1">发送</span>
          <span class="btn radiusBtn square mid style_1 ghostBtn">取消</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>