@import "../common";
@import "../utils/utils";
@import "../partial/index.left-mail-list";
@import "../partial/index.tab-wrapper";
@import "../partial/tabPage";
@import "../partial/mailEditor";
@import "../partial/peopleManage";
@import "../partial/mail.detail";
@import "../utils/select2/core";

@font-face {
  font-family: "ph";
  src: url("/fonts/PingHei.ttf");
}

html{
  overflow: hidden;
}
.index-page {
  width:100%;
  box-sizing: border-box;
  padding-top: $headerHeight;
  height: auto;
  color: $textColor;
  min-width: 700px;
  font-size: $baseFontSize;
  font-family: $fontPingHei,$fontHeiTi,$fontYaHei,$baseFontFamily;
  font-weight: 400;
  .tab-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-top: -1px;
    height: 50px;
    line-height: 50px;
    background-color: $color_bg_light_gray;
    padding-left: $leftNavWidth;
    border-bottom:1px solid #ddd;
  }
  &.none {
    .p-adm,
    .p-con,
    .p-dis,
    .p-aud{
      display: none !important;
    }
  }
  //&.adm {
  //  .p-con,
  //  .p-dis,
  //  .p-aud{
  //    display: none !important;
  //  }
  //}
  &.con{
    .p-adm,
    .p-dis,
    .p-aud {
      display: none !important;
    }
  }

  &.dis {
    .p-adm,
    .p-con,
    .p-aud,{
      display: none !important;
    }
  }
  &.aud {
    .p-adm,
    .p-dis,
    .p-con {
      display: none !important;
    }
  }

}
#template {
  display: none;
}

