@import "../common";
@import "../utils/utils";
@import "../partial/index.left-mail-list";
@import "../partial/index.tab-wrapper";
@import "../partial/tabPage";
@font-face {
  font-family: "ph";
  src: url("/fonts/PingHei.ttf");
}

.index-page {
  width:100%;
  box-sizing: border-box;
  padding-top: $headerHeight;
  height: auto;
  color: $textColor;
  min-width: 700px;
  font-size: $baseFontSize;
  font-family: $fontPingHei,$fontHeiTi,$fontYaHei,$baseFontFamily;
  font-weight: 400;
  .tab-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-top: -1px;
    height: 50px;
    line-height: 50px;
    background-color: $color_bg_light_gray;
    padding-left: $leftNavWidth;
    border-bottom:1px solid #ddd;
  }

}
#template {
  display: none;
}